[submodule "public"]
	path = public
	url = git@github.com:rmoff/rmoff.github.io.git
	branch = master
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/story"]
	path = themes/story
	url = https://github.com/xaprb/story.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/hyde-hyde"]
	path = themes/hyde-hyde
	url = https://github.com/htr3n/hyde-hyde.git
[submodule "themes/min_night"]
	path = themes/min_night
	url = https://github.com/nathancday/min_night.git
[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
