[submodule "public"]
	path = public
	url = git@github.com:rmoff/rmoff.github.io.git
	branch = master
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/story"]
	path = themes/story
	url = https://github.com/xaprb/story.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/hyde-hyde"]
	path = themes/hyde-hyde
	url = https://github.com/htr3n/hyde-hyde.git
[submodule "themes/min_night"]
	path = themes/min_night
	url = https://github.com/nathancday/min_night.git
[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/Blogpaper"]
	path = themes/Blogpaper
	url = https://github.com/NormandErwan/Blogpaper.git
[submodule "themes/hugo-sodium-theme"]
	path = themes/hugo-sodium-theme
	url = https://github.com/uicardiodev/hugo-sodium-theme.git
[submodule "themes/blackburn"]
	path = themes/blackburn
	url = https://github.com/yoshiharuyamashita/blackburn.git
[submodule "themes/purehugo"]
	path = themes/purehugo
	url = https://github.com/dplesca/purehugo.git
[submodule "themes/silhouette-hugo"]
	path = themes/silhouette-hugo
	url = https://github.com/mattbutton/silhouette-hugo.git
[submodule "themes/hugo-theme-minos"]
	path = themes/hugo-theme-minos
	url = https://github.com/carsonip/hugo-theme-minos.git
[submodule "themes/hugo-theme-massively"]
	path = themes/hugo-theme-massively
	url = https://github.com/curttimson/hugo-theme-massively.git
[submodule "themes/hugo-tikva"]
	path = themes/hugo-tikva
	url = https://github.com/geschke/hugo-tikva.git
[submodule "themes/hugo-icarus"]
	path = themes/hugo-icarus
	url = https://gitlab.com/toryanderson/hugo-icarus.git
[submodule "themes/bento"]
	path = themes/bento
	url = https://github.com/leonardofaria/bento.git
[submodule "themes/ezhil"]
	path = themes/ezhil
	url = https://github.com/vividvilla/ezhil.git
