theme: "story"
baseURL: "https://rmoff.net"
languageCode : "en-us"
title: "rmoff's random ramblings"
pagination:
  pagerSize: 20
timeout: 120s
pygmentsStyle: pygments

params:
  AuthorName: Robin Moffatt
  GitHubUser: "rmoff"
  image: "images/2018/07/IMG_3647.jpg"
permalinks:
  post: /:year/:month/:day/:title/

taxonomies:
  category: categories
  tag: tag

outputs:
   home:
      - HTML
      - JSON
      - RSS
   page:
      - HTML
   section:
      - HTML
      - RSS
   taxonomy:
      - HTML
      - RSS
   term:
      - HTML
      - RSS

menu:
  main:
  - name: about
    title: about
    url: https://talks.rmoff.net/bio
    weight: -12
  - name: talks
    title: talks
    url: https://talks.rmoff.net
    weight: -11
  social:
  - name: bluesky
    title: "fa-brands fa-bluesky"
    url: https://bsky.app/profile/rmoff.net
    weight: -10
  - name: twitter
    title: "fa-brands fa-x-twitter"
    url: https://twitter.com/rmoff/
    weight: -9
  - name: github
    title: "fab fa-github-square"
    url: https://github.com/rmoff/
    weight: -8
  - name: youtube
    title: "fab fa-youtube-square"
    url: https://www.youtube.com/c/rmoff
    weight: -7
  - name: linkedin
    title: "fab fa-linkedin"
    url: https://www.linkedin.com/in/robinmoffatt/
    weight: -6

markup:
  asciidocExt:
    attributes:
      allow-uri-read: ""
      toc: ""
      toc-title: "Table of Contents"
      toc-placement: "auto"
      toclevels: "2"
      figure-caption!: ""
    safeMode: unsafe
    workingFolderCurrent: true
  defaultMarkdownHandler: goldmark
  goldmark:
    renderer:
      unsafe: true

security:
  enableInlineShortcodes: false
  exec:
    allow:
    - ^dart-sass-embedded$
    - ^go$
    - ^npx$
    - ^postcss$
    - ^asciidoctor$
    osEnv:
    - (?i)^((HTTPS?|NO)_PROXY|PATH(EXT)?|APPDATA|TE?MP|TERM)$
  funcs:
    getenv:
    - ^HUGO_
  http:
    methods:
    - (?i)GET|POST
    urls:
    - .*

ignoreErrors:
  - error-remote-getjson
