theme: "story"
baseURL: "https://rmoff.net"
languageCode : "en-us"
title: "rmoff's random ramblings"
googleAnalytics: "UA-75492960-1"
paginate: 20
timeout: 120s
pygmentsStyle: pygments

params:
  AuthorName: Robin Moffatt
  GitHubUser: "rmoff"
  image: "images/2018/07/IMG_3647.jpg"
permalinks:
  post: /:year/:month/:day/:title/

taxonomies:
  category: categories
  tag: tag

outputs:
   home:
      - HTML
      - JSON
      - RSS
   page:
      - HTML
   section:
      - HTML
      - RSS
   taxonomy:
      - HTML
      - RSS
   taxonomyTerm:
      - HTML
      - RSS

menu:
  main:
  - name: about
    title: about
    url: https://talks.rmoff.net/bio
    weight: -10
  - name: talks
    title: talks
    url: https://talks.rmoff.net
    weight: -9
  social:
  - name: github
    title: "fab fa-github-square"
    url: https://github.com/rmoff/
    weight: -6
  - name: youtube
    title: "fab fa-youtube-square"
    url: https://www.youtube.com/c/rmoff
    weight: -8
  - name: twitter
    title: "fab fa-twitter-square"
    url: https://twitter.com/rmoff/
    weight: -7
  - name: linkedin
    title: "fab fa-linkedin"
    url: https://www.linkedin.com/in/robinmoffatt/
    weight: -5

markup:
  asciidocExt:
    attributes: {allow-uri-read}
    safeMode: unsafe
