{{ define "title" }}{{ cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) }}{{ end }}

{{ define "main" }}
<article class="article" data-pagefind-body>
	{{ range .Params.categories }}<span data-pagefind-filter="category" style="display:none">{{ . }}</span>{{ end }}
	<img data-pagefind-meta="image[src]" src="{{ default "img/default-header-img.jpg" .Params.image | absURL }}" style="display:none" alt="">
	{{ .Content }}
</article>
{{ end }}

{{ define "social" }}
		<meta property="og:title" content="{{ cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) }}" />
		<meta property="og:type" content="article" />
		<meta property="og:image" content="{{ default "img/default-header-img.jpg" .Params.image | absURL }}" />
		<meta property="og:description" content="{{ .Description | markdownify }}" />
		<meta property="og:url" content="{{ .Permalink }}" />
		<meta property="og:site_name" content="{{ cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) }}" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@{{ .Site.Params.twitter }}" />
{{ end }}
