/* Subtle border for images in imageblock containers */
div.imageblock div.content img {
  border: 3px solid rgba(127, 77, 77, 0.312);
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.25);
}

/* Ensure border radius is maintained */
div.imageblock div.content img {
  border-radius: 6px;
}
