{{- $cardImage := default "img/default-header-img.tn-500x500.webp" (default .Params.image .Params.thumbnail) -}}
<a href="{{ .Permalink }}" class="compact-card">
    <img src="{{ absURL $cardImage }}" alt="" class="compact-card-thumb">
    <div class="compact-card-content">
        <h3 class="compact-card-title">
            {{- cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) -}}
        </h3>
        <p class="compact-card-excerpt">{{ .Summary | plainify | truncate 150 }}</p>
    </div>
</a>
