{{- $searchActive := .searchActive | default false -}}
<div class="glass-nav hide-print">
    <nav class="sans-serif border-box pa3 ph5-l">
        <a href="{{ .context.Site.BaseURL }}" title="Home">
            <img
                src="{{ "img/logo.jpg" | absURL }}"
                class="w2 h2 br-100"
                alt="{{ .context.Site.Title }}"
                onmouseover="this.src='{{ "img/repton.gif" | absURL }}';"
                onmouseout="this.src='{{ "img/logo.jpg" | absURL }}';"
            />
        </a>
        <div class="fr h2 pv2 tr nav-compact-icons">
            <!-- Site navigation -->
            <div class="nav-group-compact">
                <a class="icon-link-small" href="/categories/" title="Categories"><i class="fas fa-folder"></i></a>
                <a class="icon-link-small{{ if $searchActive }} search-icon-active{{ end }}" href="{{ "search/" | absURL }}" title="Search"><i class="fas fa-search"></i></a>
                <a class="icon-link-small" href="{{ "index.xml" | absURL }}" title="RSS Feed"><i class="fas fa-rss"></i></a>
            </div>
            <span class="nav-divider-compact"></span>
            <!-- Social links -->
            <div class="nav-group-compact">
                {{- range .context.Site.Menus.social }}
                <a class="icon-link-small" href="{{ .URL }}"><i class="{{ .Title }}"></i></a>
                {{- end }}
            </div>
        </div>
    </nav>
</div>
