{{- $searchActive := .searchActive | default false -}}
<div class="glass-nav hide-print">
    <nav class="sans-serif border-box pa3 ph5-l">
        <a href="{{ .context.Site.BaseURL }}" title="Home">
            <img
                src="{{ "img/logo.jpg" | absURL }}"
                class="w2 h2 br-100"
                alt="{{ .context.Site.Title }}"
                onmouseover="this.src='{{ "img/repton.gif" | absURL }}';"
                onmouseout="this.src='{{ "img/logo.jpg" | absURL }}';"
            />
        </a>
        <div class="fr h2 pv2 tr">
            {{- range .context.Site.Menus.main }}
            <a class="link f5 ml2 dim near-white" href="{{ .URL }}">{{ .Name }}</a>
            {{- end }}
            {{- range .context.Site.Menus.social }}
            <a class="icon-link-small" href="{{ .URL }}"><i class="{{ .Title }}"></i></a>
            {{- end }}
            <a class="icon-link-small" href="{{ "index.xml" | absURL }}" title="RSS Feed"><i class="fas fa-rss"></i></a>
            <a class="icon-link-small{{ if $searchActive }} search-icon-active{{ end }}" href="{{ "search/" | absURL }}" title="Search"><i class="fas fa-search"></i></a>
        </div>
    </nav>
</div>
