      </main>
    {{ if not (in .Params.tags "archive") }}
      {{ if and (gt .WordCount 300) (ne .Params.toc false) }}
      <div class="docs-toc">
        <ul class="nav toc-top">
          <li><a href="#" id="back_to_top" class="docs-toc-title">{{ i18n "on_this_page" | default "Contents" }}</a></li>
        </ul>
        {{ .TableOfContents }}
      </div>
      <!-- Separate label for mobile drawer -->
      <div class="toc-mobile-label">TABLE OF CONTENTS</div>
      {{ end }}
    {{ end }}
    </div>
  </div>
</div>
