<li class="post-row">
	<a href="{{ .Permalink }}" class="post-thumb-link">
		{{ partial "thumbnail.html" (dict "page" . "variant" "list") }}
	</a>
	<div class="post-info">
		<span class="post-date">{{ .Date.Format "02 Jan 2006" }}</span>
		<a href="{{ .Permalink }}" class="post-title-link">
			{{- cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) -}}
		</a>
	</div>
	{{ with (index .Params.categories 0) }}
	<span class="post-category">{{ . }}</span>
	{{ end }}
</li>
