{{- $thumbImage := default "img/default-header-img.tn-500x500.webp" (default .Params.image .Params.thumbnail) -}}
<li class="post-row">
	<a href="{{ .Permalink }}" class="post-thumb-link">
		<img class="post-thumb" src="{{ absURL $thumbImage }}" alt="" loading="lazy">
	</a>
	<div class="post-info">
		<span class="post-date">{{ .Date.Format "02 Jan 2006" }}</span>
		<a href="{{ .Permalink }}" class="post-title-link">
			{{- cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) -}}
		</a>
	</div>
	{{ with (index .Params.categories 0) }}
	<span class="post-category">{{ . }}</span>
	{{ end }}
</li>
