      </div>
    {{- $tocState := partial "toc_state.html" . }}
    {{ if $tocState.sidebar }}
      <div class="docs-toc">
        {{ if $tocState.toc }}
        <ul class="nav toc-top">
          <li><a href="#" id="back_to_top" class="docs-toc-title">{{ i18n "on_this_page" | default "On this page" }}</a></li>
        </ul>
        {{ .TableOfContents }}
        {{ end }}
        {{ if $tocState.popular }}
        <aside class="popular-links popular-links--sidebar" data-limit="5" data-path="{{ .RelPermalink }}" data-heading="Most-clicked from this post"></aside>
        {{ end }}
      </div>
    {{ end }}
    </div>
  </div>
</div>
