{{- $showToc := and (gt .WordCount 300) (ne .Params.toc false) (not (in .Params.tags "archive")) -}}
{{- $hdr := cond (or (in .Site.Params.classes "feature-nohdr") (in .Params.classes "feature-nohdr")) false true -}}
{{- $headerImage := default "img/default-header-img.webp" .Params.image -}}
{{ if $hdr }}
<div class="article-hero" style="background-image: url('{{ absURL $headerImage }}');">
	<div class="article-hero-overlay">
		<div class="article-hero-content">
			<h1>{{ cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) }}</h1>
			<p class="article-hero-meta">
				{{ if eq .Section "talks" }}
					<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 2, 2006" }}</time>
					{{ with .Params.event }} at <a href="{{ $.Params.site }}">{{ . }}</a>{{ end }}
				{{ else }}
					<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "02 Jan 2006" }}</time>
					<span class="display-print">by {{ .Params.author | default .Site.Params.author }}</span>
					{{ range $idx, $cat := .Params.categories }}{{ if gt $idx 0 }}, {{ end }}{{ if eq $idx 0 }} &middot; {{ end }}<a href="{{ "categories" | absURL }}/{{ . | urlize }}">{{ . }}</a>{{ end }}
					<span class="display-print">at {{ .Permalink }}</span>
				{{ end }}
			</p>
		</div>
	</div>
</div>
{{ else }}
<div class="article-header">
	<div class="title-box">
		<h1>{{ cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) }}</h1>
		<p class="title-subtitle">
			{{ if eq .Section "talks" }}
				Published
				<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 2, 2006" }}</time>
				{{ with .Params.event }} at <a href="{{ $.Params.site }}">{{ . }}</a>{{ end }}
			{{ else }}
				Published
				<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "02 Jan 2006" }}</time>
				<span class="display-print">by {{ .Params.author | default .Site.Params.author }}</span>
				{{ range $idx, $cat := .Params.categories }}{{ if gt $idx 0 }}, {{ end }}{{ if eq $idx 0 }} in {{ end }}<a href="{{ "categories" | absURL }}/{{ . | urlize }}">{{ . }}</a>{{ end }}
				<span class="display-print">at {{ .Permalink }}</span>
			{{ end }}
		</p>
	</div>
</div>
{{ end }}
{{ if $showToc }}
<details class="toc-mobile">
	<summary>Table of Contents</summary>
	{{ .TableOfContents }}
</details>
{{ end }}
<div class="container-fluid docs">
	<div class="row">
		<main class="docs-content" role="main">
