      </main>
    {{ if not (in .Params.tags "archive") }}
      {{ if and (gt .WordCount 300) (ne .Params.toc false) }}
      <div class="docs-toc">
        <ul class="nav toc-top">
          <li><a href="#" id="back_to_top" class="docs-toc-title">{{ i18n "on_this_page" | default "On this page" }}</a></li>
        </ul>
        {{ .TableOfContents }}
        {{ if and (in .Params.categories "Interesting Links") (ge (.Date.Format "2006-01-02") "2026-03-01") }}
        <aside class="popular-links popular-links--sidebar" data-limit="5" data-path="{{ .RelPermalink }}" data-heading="🔗 Most-clicked from this post"></aside>
        {{ end }}
      </div>
      {{ end }}
    {{ end }}
    </div>
  </div>
</div>
