{{ define "title" }}{{ .Title }} &bullet; {{ .Site.Title }}{{ end }}
{{ define "main" }}
<div class="pa3 pa4-ns w-100 center" style="max-width: 1200px;">
  {{ if eq .Title "Interesting Links" }}
  <section class="w-100 pb4">
    <div class="content">
      {{ .Content }}
    </div>
  </section>
  {{ end }}
  <section class="w-100">
  {{ range where .Paginator.Pages ".Params.skip" "ne" "true" }}
      {{ partial "li.html" . }}
    {{ end }}
  </section>
</div>
{{ end }}

{{ define "pagination" }}
<footer class="w-100 sans-serif" role="contentinfo">
	<nav class="w-third-l pb3 f6 center db" role="navigation">
		{{- template "_internal/pagination.html" . -}}
	</nav>
</footer>
{{ end }}
