<div class="admonitionblock tip">
<table>
<tbody><tr>
<td class="icon">
<i class="fa icon-tip" title="Tip"></i>
</td>
<td class="content">
<div class="ulist">
<ul>
<li>
<p><em>🔥 Not got time for all this? I&#8217;ve marked my top reads of the month</em> :)</p>
</li>
<li>
<p><em>📧 Want to receive this monthly round-up as an email? <a href="https://interestinglinks.substack.com/subscribe">Subscribe</a> to <a href="https://interestinglinks.substack.com/">my Substack</a> where I cross-post the same content</em></p>
</li>
{{ if .Site.Params.mediumMirror }}
<li>
<p><em>🔗 Medium posts often skulk behind a gate, so I&#8217;ve hyperlinked to the <a href="{{ .Site.Params.mediumMirrorBase }}">Freedium</a> version. You&#8217;ll see <code>[Medium ↗]</code> next to each link if you prefer the original.</em></p>
</li>
{{ end }}
</ul>
</div>
</td>
</tr>
</tbody></table>
</div>
