name: Build and Deploy PR Preview to CloudFlare Pages

on:
  pull_request:

jobs:
  build_preview:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: read
    steps:
    - uses: actions/checkout@v3

    - name: Log in to Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build reveal.js presentations (requires local asciidoctor)
      run: |
        sudo apt-get update
        sudo apt-get install -y ruby-dev
        sudo gem install asciidoctor asciidoctor-revealjs
        ./build-slides.sh

    - name: Build Hugo site with Docker
      run: |
        docker run --rm \
          -v $(pwd):/src \
          ghcr.io/${{ github.repository }}:0.152.2 \
          --baseURL https://preview.rmoff.net/ --destination public

    - name: Publish to Cloudflare Pages
      uses: cloudflare/pages-action@v1
      with:
        apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        accountId: 8d56a7ca471ccdf550c9feffa02d05ba
        projectName: rmoff-blog-preview
        directory: public
        gitHubToken: ${{ secrets.GITHUB_TOKEN }}
        branch: main
