name: Build and Deploy PR Preview to surge

on:
  pull_request:

jobs:
  build_preview:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: read
    steps:
    - uses: actions/checkout@v3

    - name: Log in to Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Setup base URL env var
      run: |
        export PRNUMBER=$(jq --raw-output .pull_request.number "$GITHUB_EVENT_PATH")
        echo BASEURL="https://rmoff-rmoff-blog-build_preview-pr-"$PRNUMBER".surge.sh/" >> $GITHUB_ENV

    - name: Report base URL env var
      run: echo "${{ env.BASEURL }}"

    - name: Build reveal.js presentations (requires local asciidoctor)
      run: |
        sudo apt-get update
        sudo apt-get install -y ruby-dev
        sudo gem install asciidoctor asciidoctor-revealjs
        ./build-slides.sh

    - name: Build Hugo site with Docker
      run: |
        docker run --rm \
          -v $(pwd):/src \
          ghcr.io/${{ github.repository }}:0.152.2 \
          --baseURL "${{ env.BASEURL }}" --destination public

    - name: Deploy to surge
      uses: afc163/surge-preview@v1
      id: preview_step
      with:
        surge_token: ${{ secrets.SURGE_TOKEN }}
        github_token: ${{ secrets.GITHUB_TOKEN }}
        dist: public
        failOnError: false
        teardown: true
        build: |
          echo Deploying to surge.sh
